OPENAI_API_KEY=learner052
OPENAI_BASE_URL=https://keygateway.arshnivlabs.com/v1
PINECONE_API_KEY=pcsk_Fym3z_56FHB4wLaKDJknovQktWkQb8WvNErkeNpx9hCdiTfJXSVuwTcHz4xJnXwBAzSvR
PINECONE_INDEX_NAME=product-strategy
USE_PINECONE=false
